fpdf==1.7.2
fpdf2==2.8.2
matplotlib==3.8.2
numpy==2.2.5
pandas==2.2.3
Pillow==11.2.1
python-dotenv==1.1.0
python_bcrypt==0.3.2
Requests==2.32.3
seaborn==0.13.2
streamlit==1.44.1
streamlit_option_menu==0.4.0
tensorflow==2.18.0
tensorflow_intel==2.18.0
